.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;

}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.app-title {
  font-size: 18px;
  margin-left: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.profile {
  font-size: 14px;
  margin-left: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.logout {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 700;
}